.idea
*.pb.go
*.p12
*.cer
*.pem
*.csv
*.key
.DS_Store
build/**
core
*.a
*.so
*.o
*.exe
.*.swp
*.log
node_modules/
out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties